
	<div id="game">
		<header>
			<h1>Tic Tac Toe</h1>
		</header>
		<div id="gamebox">
			<div ng-repeat="row in ticArr">	
				<div ng-repeat="sqr in row" ng-class="{sqr:true,topLine:sqr.r != 1,leftLine:sqr.c != 1, bottomLine:sqr.r != 3, rightLine:sqr.c != 3}" ng-click="fill(sqr,row)" ng-bind="sqr.value">
				</div>
				<div class="clearfix"></div>
			</div>
			{{ticArr}}
		</div>
		<!-- These are the start and win boxes
			<div id="win" style="display:none;">You Win!
				<div class="choice chooseX">X</div>
				<div class="choice chooseO">O</div>
			</div>
			
			<div id="start">Start:
				<div class="choice chooseX">X</div>
				<div class="choice chooseO">O</div>
			</div>
			-->
		<footer>

		<h1></h1>
		</footer>
	
	</div>
	